{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Панель психолога</title>
  <link rel="stylesheet" href="{% static 'tests/testspsychologist.css' %}" />
</head>
<body>
  <header class="header">
    <div class="header-left">
      <nav>
        <ul>
          {% if request.user.is_authenticated %}
            {% if request.user.role.name == 'психолог' %}
              <li><a href="{% url 'home' %}">Тесты</a></li>
              <li><a href="{% url 'tests:students_list' %}">Список студентов</a></li>
              <li><a href="{% url 'psych_admin:index' %}">Панель психолога</a></li>
            {% elif request.user.is_superuser %}
              <li><a href="{% url 'admin:index' %}">Панель админа</a></li>
            {% elif request.user.role.name == 'студент' %}
              <li><a href="{% url 'home' %}">Мои тесты</a></li>
              <li><a href="{% url 'my_recommendations' %}">Рекомендации</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="header-right">
      {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><img src="{% static 'tests/images/image4.png' %}" alt="Выход из системы" class="logo"></a>
      {% else %}
        <a href="{% url 'login' %}"><img src="{% static 'tests/images/image2.png' %}" alt="Личный кабинет" class="logo"></a>
      {% endif %}
    </div>
  </header>

    <main class="main">
        <h1>{% if form.instance.pk %}Редактировать вид деятельности{% else %}Создать вид деятельности{% endif %}</h1>

        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="assign-button">Сохранить</button>
        <a href="{% url 'psych_admin:activity_list' %}" class="assign-button">Назад</a>
        </form>
    </main>

</body>
</html>